.encabezado a {
  display: none;
}
#inicio {
  height: 50%;
}
.contenido {
  flex-direction: column;
  height: 50%;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding: 20px;
}

.contenido2 {
  flex-direction: column;
  height: 50%;
}
