.encabezado a {
  display: none;
}
#inicio {
  flex-direction: column;
  height: 50%;
  align-items: center;
  text-align: center;
}
.imagen {
  width: 150px;
}
.contenido {
  flex-direction: column;
  height: 50%;
  align-items: center;
  text-align: center;
}

.contenido2 {
  height: 50%;
}

.imag2 {
  width: 300px;
}
.footer {
  flex-direction: column;
  height: 50%;
  align-items: center;
  text-align: center;
}
